<%-render("views/header.ejs", {PageTitle: "Finish test"})%>
<%-render("views/nav.ejs")%>

<div class="content-div">
<h1>Ending test for <%=test.scenario.name%></h1>
</div>

<div class="content-div">
	<form action="/tests/end_test_post" method="POST">
		<p>
			Feedback:<br/>
			<textarea name="feedback"></textarea>

			<input type="hidden" name="uuid" value="<%=test.uuid%>"/>
			<br/>

			<button type="submit" name="action" value="failure" class="endTest endTestFailure">Failure</button>
			
			<button type="submit" name="action" value="success" class="endTest endTestSuccess">Success</button>
		</p>
	</form>
</div>

<%-render("views/footer.ejs")%>