<%-render("views/header.ejs", {PageTitle: "Scenario " + scenario.name})%>
<%-render("views/nav.ejs")%>

<div class="content-div">
<p>
	Scenario: <b><%= scenario.name %></b>
</p>
<p>
	Remember to set up your proxy.
	<br/>
	Clicking the "Begin test" button will redirect start test and redirect you to test page.
</p>

<form method="POST" action="/tests/begin_new_test/">
<input type="hidden" name="scenario_id" value="<%= scenario._id %>"/>
<button name="submit">Begin test!</button>
</form>

</div>

<%-render("views/footer.ejs")%>