<%-render("views/header.ejs", {PageTitle: "View test report"})%>
<%-render("views/nav.ejs")%>

	<script src="/static/socketio/socket.io.js"></script>
	<script src="/static/jquery-1.6.4.js"></script>
	<script>
	/*
		var test_id = "<%= test.uuid %>";
	
		var socket = io.connect('http://192.168.248.128:8080');
		socket.on('connect', function(){
			socket.emit('test_subscribe', {uuid: test_id});
		});
		
		socket.on('new_test_page', function(msg){
			$("#testlist").append("<li>" + msg.page.address + "</li>");
		});
		
		socket.on('error', function(msg) {
			alert(msg.msg);
		});
		*/
	</script>
	
	<div class="content-div">
	<p>
		<pre>
			<%= JSON.stringify(test) %>
		</pre>
	</p>

	<p>
	A test for scenario: <b><%= test.scenario.name %></b>
	</p>

	<h2>pages</h2>
	<ul id="testlist">
		<% test.pages.forEach(function(page) { %>
			<li>
				<div>
					<%= JSON.stringify(page) %><br/>
					Request: <%= JSON.stringify(page.request) %><br/>
					@: <%= page.date.toString() %><br/>
					<% if(page.actions.length != 0) { %>
						Actions:<br/>
						<ul>
						<% page.actions.forEach(function(action) { %>
							<li>
								<pre><%= JSON.stringify(action) %></pre><br/>
							</li>
						<% }); %>
						</ul>
					<% } %>
				</div>
			</li>
		<% }); %>
	</ul>

	<h2>requests</h2>
	<ul id="testlist">
		<% test.requests.forEach(function(request) { %>
			<li>
				<div>
					<pre><%= JSON.stringify(request) %></pre>
				</div>
			</li>
		<% }); %>
	</ul>

	</div>
	
<%-render("views/footer.ejs")%>