<%-render("views/header.ejs", {PageTitle: "Viewing test report"})%>
<%-render("views/nav.ejs")%>	
	<div class="content-div">
	<h2>Test report for scenario: <b><%= test.scenario.name %></b></h2>
	<p>Total time: <%=test.getTotalReportTime()%></p>
	<% if(!test.active) { %>
		<p>Result: <%=test.result%></p>
	<% } %>
	</div>

	<div class="content-div">
	<h2>Tasks</h2>
	<table>
		<tr>
			<th></th>
			<th>Task description</th>
			<th>Time</th>
		</tr>
		<%
		for(var key in test.scenario.tasks) { 
			var taskNum = parseInt(key);
			var taskName = test.scenario.tasks[key];
			var trstyle = "taskRow";
			if(test.isTaskVisited(key)) {
				trstyle += " taskVisitedRow";
				if(test.currentTask < taskNum) {
					trstyle += " taskBackRow";
				}
			} else {
				trstyle += " taskNotVisitedRow";
			}

			if(test.currentTask == taskNum) {
				trstyle += " taskCurrentRow";
			}
		%>
			<tr class="<%=trstyle%>">
				<td>
					<%=(parseInt(key)+1)%> 
				</td>
				<td>
					<%=taskName%>
				</td>
				<td>
					<%=test.getTaskTotalTime(parseInt(key))/1000 | 0%> seconds
				</td>
			</tr>
		<% } %>
	</table>

	<% var lastTaskNum = 0; %>

	<%
		function foreachEverything(test, callback) {
			test.pages.forEach(function(page) {
				callback(page, null, page.pageLoadedAction.taskNum);
				page.actions.forEach(function(action) {
					callback(page, action, action.taskNum);
				});
			});
		}
	%>

	</div>
	<div class="content-div">
	<h2>Test progress</h2>
	<table>
		<% foreachEverything(test, function(page, action, tasknum) { %>
			<% 
			if(lastTaskNum != tasknum) { 
				lastTaskNum = tasknum;
			%>
				<tr>
					<td colspan="2">
						Task changed to: <%=(tasknum+1)%>.
					</td>
				</tr>				
			<% } %>
			<% if(action == null) { %>
				<tr>
					<td>
						<%=page.pageLoadedAction.deltatime.hours%>:<%=page.pageLoadedAction.deltatime.minutes%>:<%=page.pageLoadedAction.deltatime.seconds%>
					</td>
					<td>
						<b>Webpage loaded:</b> <%= page.request.path %>
					</td>
				</tr>
			<% } else { %>
				<tr>
					<td>
						<%=action.deltatime.hours%>:<%=action.deltatime.minutes%>:<%=action.deltatime.seconds%>
					</td>
					<td>
						<%= action.getName() %>
						<% if(typeof(action.element) != 'undefined') { %>
							<div class="elementDesc">
								<span class="elementTagName" title="Element's tag name"><%= action.element.tagName %></span>
								<% if (action.element.id != "") { %>
									<span class="elementId" title="Element's id">#<%= action.element.id %></span>
								<% } %>
								<% if (action.element.name != "") { %>
									<span class="elementId" title="Element's name"><%= action.element.name %></span>
								<% } %>
								<span class="elementPath" title="Element's DOM XPath"><%= action.element.XPath %></span>
							</div>
						<% } %>
						<% if(typeof(action.value) != 'undefined') { %>
							<div>
								Value: <span class="actionValue"><%=action.value%></span>
							</div>
						<% } %>
					</td>
				</tr>
			<% } %>
		<% }); %>
	</table>

	</div>
	<div class="content-div">
	<h2>requests</h2>
	<ul id="testlist">
		<% test.requests.forEach(function(request) { %>
			<li>
				<%= request.id %> <%= request.path %>
			</li>
		<% }); %>
	</ul>

	</div>
	
<%-render("views/footer.ejs")%>