<%-render("views/header.ejs", {PageTitle: "View test report"})%>
<%-render("views/nav.ejs")%>

	<script src="/static/socketio/socket.io.js"></script>
	<script src="/static/jquery-1.6.4.js"></script>
	<script>
	/*
		var test_id = "<%= test.uuid %>";
	
		var socket = io.connect('http://192.168.248.128:8080');
		socket.on('connect', function(){
			socket.emit('test_subscribe', {uuid: test_id});
		});
		
		socket.on('new_test_page', function(msg){
			$("#testlist").append("<li>" + msg.page.address + "</li>");
		});
		
		socket.on('error', function(msg) {
			alert(msg.msg);
		});
		*/
	</script>
	
	<div class="content-div">
	<p>
	A test for scenario: <b><%= test.scenario.name %></b>
	</p>

	<h2>pages</h2>
	<ul id="testlist">
		<% test.pages.forEach(function(page) { %>
			<li>
				<div>
					<b>Page: <%= page.request.path %></b><br/>
					Time: <%= page.date.toString() %><br/>
					<% if(page.actions.length != 0) { %>
						Actions:<br/>
						<ul>
						<% page.actions.forEach(function(action) { %>
							<li>
								<%= action.getName() %><br/>
								<% if(action.element != undefined) { %>
									On element: <b><%=action.element.tagName%> <%=action.element.id%></b><br/>
								<% } %>
								<% if(action.value != undefined) { %>
									Value: <%=action.value%><br/>
								<% } %>
							</li>
						<% }); %>
						</ul>
					<% } %>
				</div>
			</li>
		<% }); %>
	</ul>

	<h2>requests</h2>
	<ul id="testlist">
		<% test.requests.forEach(function(request) { %>
			<li>
				<%= request.id %> <%= request.path %>
			</li>
		<% }); %>
	</ul>

	</div>
	
<%-render("views/footer.ejs")%>