<%-render("views/header.ejs", {PageTitle: "View test report"})%>
<%-render("views/nav.ejs")%>

	<script src="/static/socketio/socket.io.js"></script>
	<script src="/static/jquery-1.6.4.js"></script>
	<script>
	/*
		var test_id = "<%= test.uuid %>";
	
		var socket = io.connect('http://192.168.248.128:8080');
		socket.on('connect', function(){
			socket.emit('test_subscribe', {uuid: test_id});
		});
		
		socket.on('new_test_page', function(msg){
			$("#testlist").append("<li>" + msg.page.address + "</li>");
		});
		
		socket.on('error', function(msg) {
			alert(msg.msg);
		});
		*/
	</script>
	
	<div class="content-div">
	<p>
	A test for scenario: <b><%= test.scenario.name %></b>
	</p>

	<h2>Tasks</h2>
	<table>
		<tr>
			<th></th>
			<th>Task description</th>
			<th>Time</th>
		</tr>
		<%
		for(var key in test.scenario.tasks) { 
			var taskName = test.scenario.tasks[key];
		%>
			<tr>
				<td>
					<%=(parseInt(key)+1)%> 
				</td>
				<td>
					<% if(test.active && test.currentTask == key) { %>
						<b>
					<% } %>
						<%=taskName%>
					<% if(test.active && test.currentTask == key) { %>
						</b>
					<% } %>
				</td>
				<td>
					<%=test.getTaskTotalTime(parseInt(key))/1000 | 0%> seconds
				</td>
			</tr>
		<% } %>
	</table>

	<% var lastTaskNum = 0; %>

	<%
		function foreachEverything(test, callback) {
			test.pages.forEach(function(page) {
				callback(page, null, page.pageLoadedAction.taskNum);
				page.actions.forEach(function(action) {
					callback(page, action, action.taskNum);
				});
			});
		}
	%>

	<h2>Test progress</h2>
	<table>
		<% foreachEverything(test, function(page, action, tasknum) { %>
			<% 
			if(lastTaskNum != tasknum) { 
				lastTaskNum = tasknum;
			%>
				<tr>
					<td colspan="2">
						Task changed to: <%=(tasknum+1)%>.
					</td>
				</tr>				
			<% } %>
			<% if(action == null) { %>
				<tr>
					<td>
						<%=page.pageLoadedAction.deltatime.hours%>:<%=page.pageLoadedAction.deltatime.minutes%>:<%=page.pageLoadedAction.deltatime.seconds%>
					</td>
					<td>
						<b>Webpage loaded:</b> <%= page.request.path %>
					</td>
				</tr>
			<% } else { %>
				<tr>
					<td>
						<%=action.deltatime.hours%>:<%=action.deltatime.minutes%>:<%=action.deltatime.seconds%>
					</td>
					<td>
						<%= action.getName() %>
						<% if(typeof(action.element) != 'undefined') { %>
							<div class="elementDesc">
								<span class="elementTagName" title="Element's tag name"><%= action.element.tagName %></span>
								<% if (action.element.id != "") { %>
									<span class="elementId" title="Element's id">#<%= action.element.id %></span>
								<% } %>
								<% if (action.element.name != "") { %>
									<span class="elementId" title="Element's name"><%= action.element.name %></span>
								<% } %>
								<span class="elementPath" title="Element's DOM XPath"><%= action.element.XPath %></span>
							</div>
						<% } %>
						<% if(typeof(action.value) != 'undefined') { %>
							<div>
								Value: <span class="actionValue"><%=action.value%></span>
							</div>
						<% } %>
					</td>
				</tr>
			<% } %>
		<% }); %>
	</table>

	<h2>requests</h2>
	<ul id="testlist">
		<% test.requests.forEach(function(request) { %>
			<li>
				<%= request.id %> <%= request.path %>
			</li>
		<% }); %>
	</ul>

	</div>
	
<%-render("views/footer.ejs")%>