<%-render("views/header.ejs", {PageTitle: "Tests"})%>
<%-render("views/nav.ejs")%>

<div class="content-div">

<h1>Active tests:</h1>

<ul>
<% activeTests.forEach(function(test) { %>
	<li><b><a href="/tests/show_test/<%= test.uuid %>"><%= test.uuid %></a></b> <%= test.scenario.name %> <i><%= test.scenario.address %></i></li>
<% }); %>
</ul>

</div>

<div class="content-div">
<h2>Test report archive:</h2>

<ul>
	<% sites.forEach(function(site){ %>
		<% if(site.reports.length != 0) { %>
			<li>Site <b><%=site.name%></b></li>
				<ul>
					<% site.scenarios.forEach(function(scenario) { %>
						<% if(scenario.reports.length != 0) { %>
							<li>Scenario: <b><%=scenario.name%></b>
								<ul>
									<% scenario.reports.forEach(function(report) { %>
										<li><a href="/tests/show_report/<%=report._id%>"><%=report._id%></a></li>
									<% }); %>
								</ul>							
							</li>		
						<% } %>
					<% }); %>
				</ul>
			</li>
		<% } %>
	<% }); %>
</ul>

</div>

<%-render("views/footer.ejs")%>