<%
	var pageTitle = scenario ? ("Editing scenario " + scenario.name) : "New scenario";
%>

<%-render("views/header.ejs", {PageTitle: pageTitle})%>
<%-render("views/nav.ejs")%>

<script type="text/javascript" src="/static/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/static/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript">
	function getTaskList()
	{
		var tasks = [];
		$("#tasklist").children().each(function(index){
			tasks.push($(this).children('input')[0].value);
		});
		return tasks;
	}

	$(document).ready(function(){
		$("#tasklist").sortable();

		$("a.addTaskLink").click(function(){
			$("#tasklist").append(generateTaskHTML());

			rebindTaskListHandlers();
			return false;
		});

		$("form").submit(function(){
			var tasklist = JSON.stringify(getTaskList());
			$("#taskInput").val(tasklist);
		});

		rebindTaskListHandlers();
	});

	function rebindTaskListHandlers()
	{
		$("#tasklist a.removeLink").unbind('click').click(function(){
			var element = $(this).parent();
			element.hide("slow", function(){
				element.remove();
			});

			return false;
		});

		$("#tasklist a.addLink").unbind('click').click(function(){
			$(this).parent().after(generateTaskHTML());

			rebindTaskListHandlers();
			
			return false;
		});
	}

	function generateTaskHTML()
	{
		return "<li>↕ " +
			"<input type=\"text\"/> " +
			"× <a href=\"#\" class=\"removeLink\">Remove</a> | + <a href=\"#\" class=\"addLink\">Add</a>" +
		"</li>";
	}
</script>

<div class="content-div">
	<% if(scenario != null) { %>
		<h1>Editing scenario "<%=scenario.name%>" on site "<%=site.name%>"</h1>
	<% } else { %>
		<h1>Adding scenario to site "<%=site.name%>"</h1>
	<% } %>

	<form method="POST" action="/scenarios/edit_scenario_post">
		<% if(scenario != null) { %>
			<input type="hidden" name="scenario_id" value="<%=scenario._id%>"/>
		<% } %>

		<input type="hidden" name="site_id" value="<%=site._id%>"/>

		<p>
			Scenario name: <input type="text" name="scenario_name" value="<%=scenario ? scenario.name : ""%>"/>
		</p>
		<p>
			Starting URL: <input type="text" name="starting_url" value="<%=scenario ? scenario.address : ""%>"/>
		</p>
		<p>
			Description:<br/>
			<textarea name="description"><%=scenario ? scenario.description : ""%></textarea>
		</p>

		<h2>Tasks</h2>
		<p>
			<ol id="tasklist">
				<% if(scenario != null) { %>
					<% scenario.tasks.forEach(function(task) { %>
						<li>
							↕ 
							<input type="text" value="<%=task%>"/>
							× <a href="#" class="removeLink">Remove</a> | + <a href="#" class="addLink">Add</a>
						</li>
					<% }); %>
				<% }%>
			</ol>
			<a href="#" class="addTaskLink">+ Add new task</a>
		</p>

		<input type="hidden" name="tasks" id="taskInput" value="[]"/>

		<button name="submit">Accept</button> 
		<% if(scenario == null) { %>
			<a href="/scenarios">Back</a>
		<% } else { %>
			<a href="/scenarios/show/<%=scenario._id%>">Back</a>
		<% } %>
	</form>
</div>

<%-render("views/footer.ejs")%>