<%-render("views/header.ejs", {PageTitle: "Scenarios"})%>
<%-render("views/nav.ejs")%>

<div class="content-div">
	<% scenarios.forEach(function(scenario){ %>
		<li><a href="./scenarios/show/<%= scenario["_id"] %>"><%= scenario["name"] %></a></li>
	<% }); %>
</div>


<%-render("views/footer.ejs")%>