<%-render("views/header.ejs", {PageTitle: "Scenarios " + site.name})%>
<%-render("views/nav.ejs")%>

<div class="content-div">
	<h1>Site "<%= site.name %>"</h1>
	<p class="description">
		<%- site.description %>
	</p>
	<p>
		Website main URL: <a href="<%= site.url %>"><%= site.url %></a>
	</p>
	<h1>Scenarios</h1>
	<p>
		<ul>
			<% site.scenarios.forEach(function(scenario){ %>
				<li><a href="/scenarios/show/<%= scenario._id %>"><%= scenario.name %></a></li>
			<% }); %>
		</ul>
	</p>
</div>

<div class="content-div">
	<h2>Manage</h2>
	<ul>
		<li><a href="/scenarios/new_scenario/<%=site._id%>">Add Scenario</a></li>
		<li><a href="/scenarios/edit_site/<%=site._id%>">Edit Site</a></li>
		<li><a href="/scenarios/delete_site/<%=site._id%>">Remove Site</a></li>
	</ul>
</div>

<%-render("views/footer.ejs")%>