<%-render("views/header.ejs", {PageTitle: "Scenario " + scenario.name})%>
<%-render("views/nav.ejs")%>

<div class="content-div">
	Viewing scenario: <b><%= scenario.name %></b>
	<br/>
	Begin new <a href="/tests/begintest/<%= scenario._id %>">test</a>.
</div>


<%-render("views/footer.ejs")%>