<%-render("views/header.ejs", {PageTitle: "Scenario " + scenario.name})%>
<%-render("views/nav.ejs")%>

<div class="content-div">
	<h1>Scenario "<%= scenario.name %>"</h1>
	<p>
		<i>Site: "<%= site.name %>"</i>
	</p>
	<p class="description">
		<%- scenario.description %>
	</p>
	<p>
		<b>Plan:</b><br/>
		<ol>
			<% scenario.tasks.forEach(function(task) { %>
				<li><%=task%></li>
			<% }); %>
		</ol>
	</p>
	<p>
		Begin new <a href="/tests/begintest/<%= scenario._id %>">test</a>.
	</p>
</div>

<div class="content-div">
	<h2>Manage</h2>
	<ul>
		<li>Remove Scenario</li>
		<li>Edit Scenario</li>
	</ul>
</div>

<%-render("views/footer.ejs")%>